<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-header-row">
        <ion-col size="2">
          <ion-button fill="clear" (click)="menuToogle()">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <ion-title>Menu Extrusión</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">

  <ion-grid>
    <ion-row class="row">
      <ion-col size="12">
        <ion-label color="medium"><strong>Emisión Etiquetas</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="6" *ngIf="enabled.found1" >
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navCmbEmisionCajaPallet()">
          <span>Caja Pallet</span>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-color-cmb" size="large" expand="block" disabled="true">
          <span class="btn-text">(Deshabilitado)</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="12">
        <ion-label color="medium"><strong>Herramientas</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" *ngIf="enabled.found2">
        <ion-button class="btn-color-cxp" size="large" expand="block" (click)="irRegistroParadas()">
          <span class="btn-text">Registro Paradas</span>
        </ion-button>
      </ion-col>
      <ion-col size="6" *ngIf="enabled.found3">
        <ion-button class="btn-color-cxp" size="large" expand="block" (click)="irInventarioCorrea()">
          <span class="btn-text">Correa</span>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
