.background-image{
    --background: url('../../../../../assets/img/login/background-login.png') 0 0/100% 100% no-repeat;
}

.ion-header-row {
  padding-left: 0px;
}

.btn-text {
  font-size: 0.6em;
  font-weight: 700;
}

/* .btn-prop {
  --background: #E2A4B5;
} */

.row {
  margin-top: 2em;
}
