<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-header-row">
        <ion-col size="2">
          <ion-button fill="clear" (click)="menuToogle()">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8" class="ion-text-left">
          <ion-title>Etiqueta Pallet Bobinas</ion-title>
        </ion-col>
        <ion-col size="2" class="ion-text-left">
          <ion-title class="ion-no-padding">SAP</ion-title>
          <ion-checkbox #sapetiqueta checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="alertaActualizarFuenteDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row class="ion-row-1 ion-justify-content-center">
      <ion-col size="12">
        <ion-item class="ion-item-1">
          <ion-textarea #codigos rows="18" placeholder="Escanea las bobinas para ingresar...">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-card-subtitle><strong>Cant. de Códigos: {{contadorCodigos}}</strong></ion-card-subtitle>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-card-subtitle><strong>Total a Enviar: {{contadorCodigosNoRepetidos}}</strong></ion-card-subtitle>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-no-padding-x">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2" class="ion-no-padding">
            <ion-button color="danger" expand="block" fill="outline" [disabled]="isEnabledEnviar"
              (click)="reestablecerDatos()">
              <ion-icon style="zoom: 10;" name="trash-bin-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="10" class="ion-no-padding">
            <ion-button #btnEmision color="success" expand="block" fill="outline" [disabled]="isEnabledEnviar"
              (click)="alertaConfirmarEtiquetaBobina()">
              Enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<!-- <ion-row class="ion-row-2 ion-justify-content-center">
  <ion-col size="12" class="ion-padding">
    <ion-button #btnEnviar size="large" expand="block" class="btn-1">
      Enviar
    </ion-button>
  </ion-col>
</ion-row> -->