<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" expand="block" fill="clear" (click)="dismiss()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title color="medium"><strong>Registro de Causas</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="registroMotivos.length <= 0" class="ion-padding-top">
    <ion-label color="medium"><strong>Sin Causas Registradas.</strong></ion-label>
  </ion-item>

  <ion-list class="">
      <ion-item-sliding *ngFor="let i of registroMotivos; let n = index">
        <ion-item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-label color="medium"><strong>Causa {{n+1}}</strong></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ionic-selectable item-content itemValueField="id" itemTextField="descripcion" [items]="motivos"
                    [canSearch]="true" [(ngModel)]="i.motivo" placeholder="Seleccione..." required>
                  </ionic-selectable>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-input type="number" placeholder="Min." [(ngModel)]="i.minutos" required>
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="eliminarRegistro(i)" color="terteary">
            <ion-icon style="font-size: 2.5rem;" color="danger" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-between">
        <ion-col size="8">
          <ion-button color="success" expand="block" fill="outline" (click)="dismissData()">
            Confirmar
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button color="primary" expand="block" fill="outline"
          (click)="agregarCausa()" class="ion-no-padding">
            <ion-icon  name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
