.background-image {
  --background: url('../../../../../assets/img/login/background-login.png') 0 0/100% 100% no-repeat;
}

.ion-header-row {
  padding-left: 0px;
}

.btn-text {
  font-size: 0.6em;
  font-weight: bold;
  color: rgb(121, 121, 121);
}

.btn-prop {
  --background: #8d8f050b;
}

.row {
  margin-top: 2em;
}
