<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-header-row">
        <ion-col size="2">
          <ion-button fill="clear" (click)="menuToogle()">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <ion-title color="medium"><strong>Menu Extrusión</strong></ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-label color="medium"><strong>Gestión Bobinas</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button class="btn-prop" size="large"  expand="block">
          <span class="btn-text">Etiquetado Bob.</span>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-prop" size="large" expand="block">
          <span class="btn-text">Re-Imprimir Bob.</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button class="btn-prop" size="large" expand="block">
          <span class="btn-text">Eliminar Etq. Bob.</span>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-col size="6">
          <!--
          <ion-button class="btn-prop" size="large" expand="block">
            <span class="btn-text">Re-Imprimir Bob.</span>
          </ion-button>
          -->
        </ion-col>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-label color="medium"><strong>Entrada de Mercancía</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button class="btn-prop" size="large" expand="block">
          <span class="btn-text">Materias Primas</span>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-prop" size="large" expand="block">
          <span class="btn-text">Bobinas</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="12">
        <ion-label color="medium"><strong>Herramientas</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button class="btn-prop" size="large" expand="block" (click)="irRegistroParadas()">
          <span class="btn-text">Registro Paradas</span>
        </ion-button>
      </ion-col>
      <ion-col size="6">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


