.inputs {
  --background: #f5f6f9;
  text-align: center;
}

.background-image{
  --background: url('../../../../assets/img/login/background-login.png') 0 0/100% 100% no-repeat;
}

.col-img {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.col-btnlogin {
  padding-top: 3rem;
}

.btn-ms {
  font-size: 0.71em;
}

.txt-msf {
  padding-left: 8px;
}

