
<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-header-row">
        <ion-col size="2">
          <ion-button fill="clear" (click)="menuToogle()">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <ion-title>Permisos</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row ion-margin-top">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1">
          <label class="tab-label" for="chck1">Coembal Logística</label>
          <div class="tab-content">
            <ion-item>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2">Coexpan Logística</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ion-margin-top">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">Coembal Logística</label>
          <div class="tab-content">
            <ion-item>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-label>Extrusion Emison Pallet</ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4">
          <label class="tab-label" for="chck4">Coexpan Logística</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
