.background-image{
    --background: url('../../../../assets/img/login/background-login.png') 0 0/100% 100% no-repeat;
}

.titulo {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.btn {
  --background: #D5D95D;
  --color: #676a18;
}
