/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

// Font to all aplication
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Ion-Alert - ent-materias-primas.component.ts */
.btnAlertDanger {
  color: #d9534f !important;
  background-color: rgba(119, 119, 119, 0.053) !important;
}
.btnAlertSuccess {
  color: #5cb85c !important;
  background-color: rgba(119, 119, 119, 0.053) !important;
}

.ion-no-padding-x {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-color-cxp {
  --background: #ecf0ff;
  span {
    font-size: 0.6em;
    font-weight: 700;
    color: rgb(2, 0, 146) !important;
  }
}
.btn-color-cmb {
  --background: #ffcdcd;
  span {
    font-size: 0.6em;
    font-weight: 700;
    color: rgb(111, 0, 0);
  }
}
