<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-header-row">
        <ion-col size="2">
          <ion-button fill="clear" (click)="menuToogle()">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <ion-title>Menu Inventario</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <ion-grid>

    <ion-row class="row">
      <ion-col size="12" *ngIf="enabled.inv01 || enabled.inv02 || enabled.inv03">
        <ion-label color="medium"><strong>Inventarios</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="6" *ngIf="enabled.inv01">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navCmbInventario()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Reg. Inventario</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Coembal</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="6" *ngIf="enabled.inv02">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navCxpInventario()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Reg. Inventario</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Coexpan</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="6" *ngIf="enabled.inv03">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navCmbInventarioCorrea()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Reg. Inventario</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Correa Coembal</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="6" *ngIf="enabled.inv04">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navCxpInventarioCorrea()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Reg. Inventario</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Correa Coexpan</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="12" *ngIf="enabled.inv05">
        <ion-label color="medium"><strong>Transferencias</strong></ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col size="6" *ngIf="enabled.inv05">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navTransferenciaStock()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Transferencia</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Stock</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="6" *ngIf="enabled.inv06">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navTransferenciaStockMasivo()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Transferencia</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Stock Masivo</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="12" *ngIf="enabled.inv05">
        <ion-label color="medium"><strong>Por Moler</strong></ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col size="6" *ngIf="enabled.inv07">
        <ion-button class="btn-color-cmb" shape="" size="large" expand="block" (click)="navMolerExtrusion()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text">Calidad</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span class="btn-text"></span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>